<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/qrcode.png" type="image/png" sizes="32x32">
    <title>QR Generator</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
</head>
<body>
    <div class="container">
        <h1>QR Generator</h1>
        <form action="/qr" method="post" >
            <input type="text" name="url" placeholder="Enter Url">
            <button type="submit">Generate QR</button>
        </form>
        <div class="imageContainer">
            <%- image %>
        </div>
    </div>
</body>
</html>

