<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Generator</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
</head>
<body>
    <div class="container">
        <h1>QR Generator</h1>
        <form action="/qr" method="post">
            <input type="text" name="text" placeholder="Enter Url">
            <button>Generate QR</button>
        </form>
        <img src="/qr.png" alt="QR Code">
    </div>
</body>
</html>