@import url('https://fonts.googleapis.com/css2?family=Istok+Web&family=PT+Sans&display=swap');
* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgb(198, 173, 230);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 40%;
}

.container h1 {
    color: white;
    font-size: 3rem;
    font-family: "PT Sans", sans-serif;
}

input {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px;
    border: none;
    color: rgb(198, 173, 230);
    background-color: white;
    font-weight: bolder;
    transition: all .2s;
    cursor: pointer;
}

button:hover{
    background-color:rgb(198, 173, 230) ;
    color: white;
    border: 1px solid white;
}

.imageContainer{
    margin-top: 5%;
    border: 1px solid white;
    padding: 2%;
}